exclude: src/caselawclient/xquery
repos:
  - hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: no-commit-to-branch
      - id: trailing-whitespace
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
  - hooks:
      - args:
          - --fix
          - --exit-non-zero-on-fix
        id: ruff-check
      - id: ruff-format
    repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
  - hooks:
      - entry: script/build_xquery_type_dicts
        id: build-xquery-type-dicts
        language: python
        name: build-xquery-type-dicts
    repo: local
  - hooks:
      - additional_dependencies:
          - types-requests
          - boto3-stubs[s3,sns]
          - types-python-dateutil
          - types-pytz
          - types-lxml
          - ds-caselaw-utils~=2.0.0
          - pydantic
        args:
          - --strict
        files: ^src/
        id: mypy
        name: mypy-src
    repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
  - hooks:
      - additional_dependencies:
          - types-requests
          - boto3-stubs[s3,sns]
          - types-python-dateutil
          - types-pytz
          - types-lxml
          - ds-caselaw-utils~=2.0.0
          - pydantic
        exclude: ^smoketest/
        id: mypy
        name: mypy-tests
    repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
  - hooks:
      - id: prettier
        types_or:
          - yaml
          - json
          - xml
          - markdown
          - scss
          - javascript
    repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
  - hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - pre-push
    repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0

  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.17.0
    hooks:
      - id: zizmor
