name: Source safety
permissions: {}
on:
  pull_request:
  push:
  merge_group:
jobs:
  secrets:
    name: Check for secrets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@f4766d435f6a5fbcf8ebbf64020b208c04ac2a2f
