name: Source safety
permissions: {}
on:
  pull_request:
  push:
  merge_group:
jobs:
  secrets:
    name: Check for secrets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@e6c5d8399b84617bea5a6b9d99f84049385e2dbb
