name: Run tests
permissions: {}
on:
  push:
    branches: ["main"]
  merge_group:
  pull_request:
    branches: ["main"]

jobs:
  linter:
    name: Code linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
      - name: Run pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        env:
          SKIP: no-commit-to-branch

  test:
    name: Unit tests

    runs-on: ubuntu-latest

    env:
      MARKLOGIC_HOST: ""
      MARKLOGIC_USER: ""
      MARKLOGIC_PASSWORD: ""

    continue-on-error: ${{ matrix.experimental }}

    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
        experimental: [false]
        include:
          - version: "3.15"
            experimental: true

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Run image
        uses: abatilo/actions-poetry@3765cf608f2d4a72178a9fc5b918668e542b89b1 # v4.0.0
        with:
          poetry-version: 2.1.1

      - name: Install libraries
        run: poetry install

      - name: Run tests with coverage
        run: poetry run pytest --cov --junitxml=junit.xml -o junit_family=legacy --cov-branch --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        if: ${{ matrix.python-version == '3.14' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1.1.1
        with:
          flags: py${{ matrix.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }}
