name: Run tests
permissions: {}
on:
  push:
    branches: ["main"]
  merge_group:
  pull_request:
    branches: ["main"]

jobs:
  linter:
    name: Code linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
      - name: Run pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        env:
          SKIP: no-commit-to-branch

  test:
    name: Unit tests

    runs-on: ubuntu-latest

    env:
      MARKLOGIC_HOST: ""
      MARKLOGIC_USER: ""
      MARKLOGIC_PASSWORD: ""

    continue-on-error: ${{ matrix.experimental }}

    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
        experimental: [false]
        include:
          - version: "3.15"
            experimental: true

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Run image
        uses: abatilo/actions-poetry@3765cf608f2d4a72178a9fc5b918668e542b89b1 # v4.0.0
        with:
          poetry-version: 2.1.1

      - name: Install libraries
        run: poetry install

      - name: Run tests with coverage
        run: poetry run pytest --cov --junitxml=junit.xml -o junit_family=legacy --cov-branch --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        if: ${{ matrix.python-version == '3.14' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1.2.1
        with:
          flags: py${{ matrix.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }}
